body {
  margin-top: 20px;
  background: #eee;
}

.current-profile {
  .user-bg {
    margin-left:0px;
    height: 280px;
    width:100%;

  }
    .user-bg2 {
      background-position: bottom center;
      height: 100%;
      position: relative;
    }
  .user-pic {
    background-position: center center !important;
    background-size: cover !important;
    height: 120px;
    width: 120px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0px auto;
    margin-top: 120px;
    top: 20px;
    border: 5px solid #fff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
  }
  .user-details {
    position: absolute;
    text-align: center;
    margin: auto;
    margin-top: 125px;
    left: 10px;
    right: 10px;
  }
  h4.user-name {
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  h5.description {
    color: white;
    margin: 10px 0 0 0;
    text-align: center;
    font-weight: 100;
    line-height: 21px;
  }
  .social-list {
    margin: 0;
    position: absolute;
    bottom: 25px;
    left: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 6px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    h3 {
      color: white;
      padding: 0;
      margin: 7px 0 0 0;
    }
    small {
      color: white;
    }
  }
}

@media (max-width: 2000px) {
  .current-profile {
    .user-bg {
      height: 260px;
    }
    .user-pic {
      height: 72px;
      width: 72px;
    }
    .user-details {
      position: absolute;
      top: 100px;
    }
    .social-list {
      position: absolute;
      bottom: 0;
      h3 {
        font-size: 16px;
      }
    }
  }
}