.card-primary:hover {
        background-color:#3f6c92;
}
.card-success {
    background-color: #333 !important;
}
.card-success:hover {
    background-color: #222 !important;
}
.card-danger {
    background-color: #082543 !important;
    border-color: #082543 !important;
}
.card-danger:hover {
 background-color:#05192e !important;
 border-color:#05192e !important;
}